<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<h1>Postage Results</h1>
	<p>The postage to send a <%= weight %> ounce item via <%= mail_method %> is <%= result %>.</p>
</body>
</html>